#stage {
    border: .3rem solid black;
    height: 400px;
    text-align: center;
    padding: 25px;
    /* display: none; */
}
#hands {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hand {
    border: .3rem solid black;
    border-radius: .3rem;
    margin: 1rem;
    text-align: center;
    width: 250px;
    height: 250px;
}

img {
    width: 150px;
    height: 150px;
    padding-top: 25px;
}

.bottomstage {
    text-align: center;
}

#button {
    margin-top: 12px;
    padding: 10px 100px;

}

#stage .stagetitle {
    display:block;
    padding: 10px;
    margin-bottom: 120px;
}

.bigscore {
    display: flex;
    justify-content: space-evenly;
}